body {
  background-color: black;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(./images/young-black-man-face-with-beard-male-portrait-avatar-flat-style-front-view_497399-251-removebg-preview.png);
  background-size: cover;
  background-position: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.li a:hover {
  color: #ED9902;
}

span {
  color: #ED9902;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #ED9902;
  -webkit-transition: 4s;
  transition: 4s;
}

.btn {
  background-color: #ED9902;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: #fff;
}

.content {
  position: absolute;
  bottom: 50px;
  left: 8%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h1 {
  color: #fff;
  margin: 20px  0px  20px;
  font-size: 50px;
}

h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
}

.about
h2 {
  text-align: center;
  color: #fff;
}

.about
h2 .text {
  margin-bottom: 80px;
}

.service {
  width: 100%;
  padding: 90px 0px;
  text-align: center;
}

.container p {
  color: #fff;
}

.about {
  text-align: center;
  padding-top: 60px;
}

.text {
  text-align: center;
}

.text .lk p:hover {
  color: #ED9902;
}

.love h1 {
  color: white;
  font-size: 75px;
  width: 1130 px;
  margin: 30px auto;
  text-align: center;
}

.card {
  height: 365px;
  width: 335px;
  padding: 20px  35px;
  background: grey;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.container {
  text-align: center;
}

.gallery {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-box {
  width: 300px;
  height: 500px;
  margin: 20px;
  border-radius: 50px;
  background: url(/images/project-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.img-box:nth-child(2) {
  background: url(/images/project-6.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(3) {
  background: url(/images/project-3.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(4) {
  background: url(/images/project-2.jpg);
  background-size: cover;
  background-position: center;
}

.img-box h3 {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  -webkit-transition: bottom 0,5s;
  transition: bottom 0,5s;
  opacity: 0,5s;
}

.img-box1:hover {
  width: 300px;
  cursor: pointer;
}

.img-box1:hover h3 {
  opacity: 1;
  bottom: 25px;
}

.too {
  text-align: center;
  right: 100px;
}

.tito h2 {
  color: #fff;
}

.ziso h2 {
  color: #fff;
}

.mugabe {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vita {
  width: 90vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper.static-txt {
  color: #ED9902;
  font-size: 60px;
  font-weight: 300px;
}

.dynamic-texts li {
  list-style: none;
  color: #ED9902;
  font-size: 100px;
  font-weight: 500px;
  position: relative;
}

.dynamic-texts li::after
.pfee {
  text-align: center;
  position: absolute;
}

.pfee h6 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20em;
}

h6 span {
  display: table-cell;
  margin: 0;
  padding: 0;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

@-webkit-keyframes animate {
  0%, 100% {
    color: #ED9902;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 0 10px #00b3;
            box-shadow: 0 0 10px #00b3;
  }
  30%, 95% {
    color: white;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes animate {
  0%, 100% {
    color: #ED9902;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 0 10px #00b3;
            box-shadow: 0 0 10px #00b3;
  }
  30%, 95% {
    color: white;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.pfee a {
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 50px;
  -webkit-transition: 0,3s;
  transition: 0,3s;
}

.pfee a:hover {
  background-color: black;
  color: black;
}

.background-clip {
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ration: 16 / 9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (min-aspect-ration: 16 / 9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120%;
  height: 120%;
  padding: 20px 100px;
}

.container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url() no-repeat center;
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.contact-box {
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 250px;
  background-color: #020000;
  -webkit-box-shadow: 0px 0px 19px 5px  #ED9902;
          box-shadow: 0px 0px 19px 5px  #ED9902;
}

.left {
  height: 90%;
  width: 500px;
  background: url(./images/888888888preview.png);
}

.right {
  margin: 20px;
}

h2 {
  color: #fff;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h2 after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateY(-50);
          transform: translateY(-50);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid gray;
  background-color: #fff;
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

.field:hover {
  color: #fff;
}

.field:focus {
  background-color: #fff;
  border: 2px solid #ED9902;
}

.area {
  min-height: 150px;
}

.btn1 {
  width: 100px;
  padding: 0.5rem 1rem;
  font-size: 1.1em;
  background-color: #ED9902;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  -webkit-transition: 3s;
  transition: 3s;
}

.btn1:hover {
  background-color: #010101;
}

@media screen and (_max-width888px) {
  .contact-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

header {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 300px;
  font-size: 35px;
}

header h2 {
  color: white;
}

header span {
  color: #ED9902;
}

footer {
  color: white;
  bottom: 0;
}

.footer-icons {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-icons img {
  width: 12%;
}

.cell {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

.cell .nav-link {
  color: white;
}

.cell .nato img {
  width: 20px;
  height: 20px;
}

.cell .footer-icons {
  width: 20vh;
  height: 20vh;
  margin-left: 130px;
}
/*# sourceMappingURL=stlye.css.map */